.img{

    height:200px;
    width:400px;
}

.ahmet{

    height:250px;
    width:150px;
}

body{
    background:#212529
}

.paginafoto{

    height: 400px;
    width: 600px;
}


.grootte{

    height:250px;
    width:400px;
}




